.section-menu{
    width: 100%;
    height: var(--height-menu);
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    transition: background-color 0.3s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
/*Scroll Menu*/
.sticky{
    background-color: var(--color-white);
    transition: background-color 0.5s ease-in-out;
}
.sticky .section-menu-item a,
.sticky .section-social-media a{
    color: #6F6F6F;
}
.sticky span:nth-child(1){
    color: var(--color-orange);
}
.sticky span:nth-child(2){
    color: #648CFF;
}


/**/
.item-logo{
    font-family: var(--font-logo);
    font-size: var(--size-logo);
    color: var(--color-gray);
    font-weight: bold;
    letter-spacing: 2px;
}
.section-menu-item{
    width: auto;
    height: auto;
}
.section-menu-item ul{
    display: flex;
   list-style: none;
}
.link-menu-item{
    font-family: var(--font-menu);
    font-size: var(--size-menu);
    margin: 0 20px;
    color: var(--color-gray);
}

.section-social-media{
    width: auto;
    height: auto;
}
.section-social-media a{
    font-family: var(--font-menu);
    font-size: 18px;
    margin: 0 15px;
    color: var(--color-gray);
}
.panel-btn{
    display: none;
}









/*Welcome*/
.section-main{
    width: 100%;
    height: calc(100vh - var(--height-menu));
    background-color: var(--color-primary);
    margin: var(--height-menu) 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 50px;
    position: relative;
}
.box-text{
    width: auto;
    height: auto;
}
.box-text h1{
    font-family: var(--font-title-main);
    font-size: var(--size-title-main);
    margin: 0;
    letter-spacing: 2px;
    color: var(--color-white);
}
.box-option-welcome{
    width: auto;
    height: auto;
    margin: 40px 0 0 0;
    padding: 15px 0;
}
.box-option-welcome a{
    font-family: var(--font-menu);
    color: var(--color-white);
    padding: 10px 20px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    letter-spacing: 2px;
}
.box-option-welcome a:nth-child(1){
    background-color: var(--color-orange);
}
.box-option-welcome a:nth-child(2){
    background-color: var(--color-blue);
}

.image-phone-welcome{
    height: 80%;
}
.circle-one,
.circle-two{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-menu);
    letter-spacing: 1px;
    position: absolute;
}
.circle-one{
    background-color: var(--color-orange);
    right: 32%;
}
.circle-two{
    background-color: var(--color-blue);
    right: 5%;
}





/*Services*/
.section-services{
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.box-service{
    width: 30%;
    height: auto;
    background-color: var(--color-white);
    display: flex;
    padding: 40px 30px;
}
.box-service h4{
    font-size: 25px;
    font-family: var(--font-title-main);
    margin: 0 0 8px 0;
}
.box-service p{
    font-family: var(--font-paragraph);
    color: var(--color-gray-dark);
    font-size: 14px;
    line-height: 22px;
}
.box-service .far,
.box-service .fas{
    font-size: 40px;
    margin: 0 20px 0 0;
    color: var(--color-orange);
}

/*Screenshot*/
.section-screenshot{
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
}
.row-reverse{
    flex-direction: row-reverse;
}
.image-screenshot{
    width: 45%;
    height: 80vh;
    background-color: var(--color-white);
    position: relative
}
.image-screenshot img{
    height: 80%;
}
.text-screenshot{
    width: 55%;
    height: 80vh;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 80px 0 60px;
}
.text-screenshot h4{
    font-family: var(--font-title-main);
    font-size: 30px;
    color:  var(--color-black);
    margin: 30px 0 0 0;
}
.text-screenshot p{
    margin: 20px 0 0 0;
    font-family: var(--font-paragraph);
    color: var(--color-gray-dark);
    font-size: 16px;
    line-height: 30px;
}
.circle-three,
.circle-four,
.circle-five,
.circle-six,
.circle-seven,
.circle-eight{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-menu);
    letter-spacing: 1px;
    position: absolute;
    font-size: 11px;
}
.circle-three{
    left: 28%;
    bottom: 30%;
    background-color: var(--color-blue);
}
.circle-four{
    right: 28%;
    top: 30%;
    background-color: var(--color-yellow);
}
.circle-five{
    right:28%;
    top: 30%;
    background-color: var(--color-orange-alt);
}
.circle-six{
    left: 28%;
    bottom: 30%;
    background-color: var(--color-orange);
}
.circle-seven{
    right: 28%;
    top: 30%;
    background-color: #B8FAEE;
}
.circle-eight{
    left: 28%;
    bottom: 30%;
    background-color: #7693C8;
}




/*Testimonials*/
.section-testimonials{
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 50px 0 50px;
}
.box-testimonial{
    width: 40%;
    height: auto;
    background-color: var(--color-white);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 50px 0;
}
.box-testimonial h3{
    font-family: var(--font-title-main);
    font-size: 25px;
    color:  var(--color-black);
}
.box-testimonial p{
    font-family: var(--font-paragraph);
    font-size: 14px;
    color:  var(--color-black);
    margin: 15px 0 0 0;
    font-weight: bold;
}



/*Download*/
.section-download{
    width: 100%;
    height: auto;
    background-color: var(--color-blue);
    display: flex;
    flex-wrap: wrap;
}
.text-download{
    width: 50%;
    height: 65vh;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 120px 0 40px;
}
.text-download h3{
    font-family: var(--font-title-main);
    font-size: 30px;
    color:  var(--color-white);
}
.text-download p{
    font-family: var(--font-paragraph);
    font-size: 15px;
    color: var(--color-white);
    margin: 20px 0 0 0;
    line-height: 24px;
}
.box-btn-app{
    width: auto;
    height: auto;
}
.box-btn-app{
    margin: 30px 0 0 0;
    display: block;
}
.image-download{
    width: 50%;
    height: 65vh;
    background-color: var(--color-blue);
    position: relative;
}
.image-download img{
    width: 75%;
    position: absolute;
    bottom: 0;
}


/*Footer*/
.section-footer{
    width: 100%;
    height: 12vh;
    background-color: #353854;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.section-footer a{
    color: var(--color-white);
    font-family: var(--font-title-main);
    font-size: 24px;
    letter-spacing: 1px;
}
.section-footer span:nth-child(1){
    color: var(--color-orange);
}
.section-footer span:nth-child(2){
    color: #648CFF;
}
.box-social-media-footer a{
    margin: 0 15px;
    color: var(--color-gray);
    font-size: 20px;
}
.section-footer p{
    font-family: var(--font-menu);
    color: var(--color-gray);
    font-size: 16px;
    letter-spacing: 1px;
}
.section-footer .fa-heart{
    color: red;
}